@import "variables";

html, body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.input-error {
    border: solid 0px red !important;
    border-bottom-width: 1px !important;
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    z-index: 2;
}

.loader-box {
    width: 70px;
    margin: 0 auto;
    margin-top: 20%;
}

button:focus {
    outline: 0px !important;
}

.icon-account {
	color: #808080 !important;
	margin-top: 7px !important;
}

.icon-account svg{
	height: 1.2em !important;
	width: 1.2em !important;
}

.left-menu {
	background: white;
	width: 250px;
	height: 100%;
	position: fixed;
	margin-top: 70px;
	border: solid 1px #dbdbdb;
	border-left-width: 0px;
	border-top-width: 0px;
	transition: all 0.3s ease 0.15s;
	z-index: 33;
}

.open-menu {
	left: 0px;
	transition: all 0.3s ease 0.15s;
}

.close-menu {
	left: -300px;
	transition: all 0.3s ease 0.15s;
}

.header {
    height: 70px;
    border: solid 0px #dbdbdb;
    border-bottom-width: 1px;
}

.header-logo {
    color: #808080;
    font-size: 22px;
    margin-top: 18px;
    margin-left: 10px;
}

.error-message {
	font-size: 40px;
	display: block;
	margin: 0 auto;
	width: 500px;
	margin-top: 300px;
}

.page-box {
	padding-top: 20px;
	margin: 0 auto;
}

.select-box {
	height: 150px;
	width: 150px;
	cursor: pointer;
}

.select-box-mobile {
	height: 120px;
	width: 120px;
	cursor: pointer;
}

.orange-border {
	border: 2px solid rgb(239, 180, 118);
}

.arrow-photo{
	color: #808080;
	font-size: 30px !important;
	cursor: pointer;
}

.photo-edit-img {
	box-shadow: -1px 0px 27px -10px rgba(128,128,128,1);
	cursor: pointer;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}

.arrow-icon {
	margin-top: 10px;
	color: #808080;
	font-size: 30px !important;
	cursor: pointer;
}

.canvas-photo-edit {
	box-shadow: -1px 0px 27px -10px rgba(128,128,128,1);
}

.load-more {
	display: block !important;
	margin: 0 auto !important;
	color: black;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

.error-message {
	font-size: 40px;
	display: block;
	margin: 0 auto;
	width: 500px;
	margin-top: 300px;
}

.auth-form {
	display: block;
	margin: 0 auto;
	width: 500px;
	height: 400px;
	margin-top: 7%;
	background: white;
	padding-top: 10px;
}

.auth-form-background {
	width: 100%;
	height:100%;
	position: absolute;
	background: white;
}

.auth-header{
	font-size: 32px;
	width: 100px;
	margin: 0 auto;
	display: block;
	margin-top: 30px;
}

.auth-form-item{
	width: 60%;
	margin: 0 auto;
	padding-left: 5px;
}

.textField{
	width: 95% !important;
}

.autocomplete-find{
	width: 100% !important;
}

.auth-button {
	border: 1px solid black !important;
	width: 96%;
	color: black !important;
	border-radius: 0px !important;
	box-shadow:none;
	margin-top: 40px !important;
	height: 50px;
}

.auth-check {
	width: 300px;
	margin-top: 20px;
	margin-left: -15px;
}

.auth-switch {
	float:left
}